<!DOCTYPE html>
<html>
<% include templates/head.ejs %>
<body>
<% include templates/navbar.ejs %>

<div class="jumbotron"> 
	<h1><%= title %></h1>

</div>

		<!--Loops through petitions and creats buttons to them-->
	<% for (var i = 0; i < data.length; i++) {%>
		<a  href="/petition/<%= data[i].ID %>-0" ><button type="button" class="btn btn-primary btn-block"><%= data[i].title %></button></a>
		<br>
	<%}%>
	

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
</body>
</html>
