<!DOCTYPE html>
<html>

<% include templates/head.ejs %>

<body>
<% include templates/navbar.ejs %>
    </nav>
    <div class="jumbotron">
        <h1>
            <%= data.petition[0].title %>
        </h1>
        <h2>
            <%= data.petition[0].description %>
        </h2>


        <%if(admin==0){%>
            <% include templates/form.ejs %>
            <%}%>

    </div>

    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10 scrollpane">
            <h2>Underskrifter </h2>
            <div class="cards">
            <!--Loops through persons in db and creats "cards" with signed up people-->
                <% for (var i = data.persons.length-1; i >= 0; i--) {%>
                    <div class="card">
                        <p>
                            <%= data.persons[i].firstName +"  "+ data.persons[i].lastName %>
                                <%if(admin == 1){%>
                                    <br>
                                    <%= " Email: " + data.persons[i].email + " Kön: "%>
                                     <%=data.persons[i].gender%>
                            <%}%>
                        </p>
                    </div>
                <%}%>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script>
        $("form").on("submit", function (event) {
            event.preventDefault();

            //Sends data to DB and responds accordingly, either "wrong data", "already signed" or "success"
            $.post('/petition/send/<%=data.petition[0].ID%>', $(this).serialize(), function (res) {
                if (res == "1")
                    $(".jumbotron").append("<p class='error'>Ogiltig indata</p>");
                else if (res == "0")
                    $(".jumbotron").append("<p class='error'>Finns redan</p>");
                else {
                    $(".jumbotron").append("<p style ='color: #7ed3bd'>Tack för din medverkan</p>");
                    $(".cards").prepend(
                        "<div class='card' style='display:none; border-bottom:2px solid #7ed3bd;'><p> " +
                        res[ 0] + " " + res[1] +
                        "</p></div>");
                    $("form").slideUp(900);


                    $($(".card")[0]).slideDown(900);
                }

            });
        });
    </script>
</body>

</html>