<div style=" border: 1px solid transparent;">

                <div class="container">
                    <form class="form-horizontal" action="/action_page.php">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fName">Förnamn</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Skriv förnamn" name="fname_field" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lName">Efternamn</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Skriv efternamn" name="lname_field" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" placeholder="Skriv mailadress" name="email_field" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <input type="radio" name="gender" value="male" checked> Man
                                <input type="radio" name="gender" value="female"> Kvinna
                                <input type="radio" name="gender" value="other"> Annat <br> <br>
                                <button type="submit" class="btn btn-default">Skriv under!</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>