<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>