	<nav class="navbar navbar-inverse" role="navigation" >
		<ul class="nav navbar-nav">
			       <li>
                <div class="logo">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                    <div class="double-bounce3"></div>
                </div>
            </li>
            <li >
                <a href="/">
                    namninsamling.en
                </a>
            </li>
		</ul>
	</nav>