h1,
h2,
h3,
p,
a,
.jumbotron,
.scrollpane {
    font-family: 'PT Sans', sans-serif;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

p {
    font-size: 1.5em;
}

.navbar a {
    font-size: 1.5em;
    font-weight: 1;
}

.card {
    border: 1px solid transparent;
    border-bottom: 1px solid dimgrey;
    border-bottom-style: ridge;
    display: table;
    margin: 0 auto;
    width: 66%;
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=e6e6e6ff&noise=626262&density=7&opacity=10");
}

.card p {
    margin: 10px;
}

.card :first-letter {
    text-transform: uppercase;
}

#adminBtn {
    margin-top: 66px;
}

.btn button {
    width: 10%;
}

form {
    border: 1px solid transparent;
    margin-top: 5%;
}

#padder {
    border: 1px solid transparent;
}

.jumbotron {
    border: 1px solid transparent;
    text-align: center;
    box-shadow: 1px 1px 5px grey;
}

.logo {
    width: 33px;
    height: 33px;
    position: relative;
    margin: 10px auto;
}

.double-bounce1,
.double-bounce2,
.double-bounce3 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #B0E0E6;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 9.0s infinite ease-in-out;
    animation: sk-bounce 9.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: #e0c3e0;
}

.double-bounce3 {
    -webkit-animation-delay: -4.0s;
    animation-delay: -4.0s;
    background-color: #FFFFFF;
    border-radius: 45%;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.scroll-pane {
    width: 100%;
    height: 200px;
    overflow: auto;
}

.scroll-pane p {
    margin: 5px 0;
}

body {
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=4ea6caff&noise=626262&density=45&opacity=8");
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    padding-left: 10px;
}

h2 {
    text-align: center;
}

#signupform {
    padding-bottom: 20px;
}

.error {
    border-bottom: 1px solid darkred;
}